footer {
  background-color: $gray-darker;
  color: $gray-light3;
  .container {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  h3 {
    border-bottom: 1px solid $gray-light3;
    padding-bottom: 10px;
  }
  #copyright {
    font-style: italic;
    padding-top: 15px;
    .copy-right {
      text-align: right;
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
    @media screen and (max-width: 767px) {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid $gray-light3;
      text-align: center;
    }
  }
  .no-svg .footerlogo {
    background-image: url('../images/SkipperInnovationsWebDesign.png');
  }
  .footerlogo {
      z-index:1;
      width:100%;
      height: 100px;
      box-sizing: border-box;
      background-image: url('../images/SkipperInnovationsWebDesign.svg');
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
}
