body.admin-bar {
  .navbar-inverse {
    top: 28px;
  }
  @media screen and (max-width: 782px) {
    .navbar-inverse {
      top: 46px;
    }
  }
}
.navbar-header {
  #skippertoggle {
    color: $gray-light3;
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px;
    margin-bottom: 0;
    padding-left: 0;
    background-color: transparent;
    background-image: none;
    border: none;
  }
  #skipperbrand {
    float: left;
    margin: 3px 0 0 15px;
    width: 220px;
    padding: 0;
    background-color: transparent;
    background-image: none;
    border: none;
    display: none;
    img {
      width: 100%;
    }
    a:hover {
      text-decoration: none;
    }
    @media screen and (max-width: 667px) {
      display: none;
    }
    @media screen and (max-width: 375px) {
      margin-left: 10px;
      width: 180px;
      margin-top: 6px;
    }
  }
  .navbar-toggle {
    @media screen and (max-width: 320px) {
      margin-right: 10px;
    }
  }
}
/* =Social Menu
-------------------------------------------------------------- */

#menu-social-items {
  position:relative;
  float:right;
  margin-bottom:0;
  @media screen and (max-width: 767px) {
    float: left;
    li {
      display: inline-block;
    }
  }
  li {
    a {
      color:#979696;
      padding:9px 3px;
    }
    a:before {
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      content: '\f007';
      float: left;
      text-align: center;
      margin: 0 0 0 3px;
      font-family: FontAwesome;
      font-size: 18px;
      background: rgba(43, 42, 42, .5);
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
    a:hover {
      color:#3EFF3E;
      :before {
          background: rgba(0, 0, 0, 0.75);
      }
    }
  }
  .menu-facebook a:before {
    content: '\f09a';
  }
  .menu-twitter a:before {
    content: '\f099';
  }
  .menu-google-plus a:before {
    content: '\f0d5';
  }
  .menu-googleplus a:before {
    content: '\f0d5';
  }
  .menu-instagram a:before {
    content: '\f16d';
  }
  .menu-linkedin a:before {
    content: '\f0e1';
  }
  .menu-youtube a:before {
    content: '\f16a';
  }
  .menu-english a:before {
    content: 'url(/app/themes/skipper/assets/flag-icon-css/flags/4x3/es.svg)';
  }
  .menu-espanol a:before {
    content: 'url(/app/themes/skipper/assets/flag-icon-css/flags/4x3/en.svg)';
  }
}
