.sidebar {
  .sbadds {
    padding: 10px;
    //height: 300px;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  h3 {
    border-bottom: 2px solid $gray-lighter;
    padding-bottom: 10px
  }
  h3.socialh3 {
    border-bottom: none;
    padding-bottom: 0px;
  }
}
.whatido {
  color: $gray-light;
  text-align: center;
  .fa {
    text-align: center;
    border-radius: 50%;
    color: white;
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 40px;
    width: 120px;
    height: 120px;
    line-height: 120px;
  }
}
