body {
}
.container {
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;
}
.brand-primary {
  color: $brand-primary;
}
.alignleft, .alignright {
  /* Portrait */
  @media only screen
    and (max-device-width: 500px)
    and (orientation: portrait) {
      width: 100%;
  }
  max-width: 100%;
}
.alignleft {
  float: left;
  margin-right: 10px;
}
.alignright {
  float: right;
  margin-left: 10px;
}
.skipper-post-thumbnail {
  float:left;
  padding: 0 10px 10px 0;
}
.sub-menu {
  display: none;
  position: absolute;
  @media screen and (max-width: 767px) {
    position: relative;
  }
  background-color: rgba(9, 9, 9, .7);
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;
  white-space: nowrap;
  li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    ::before {
      content: "\f178";
      font-family: FontAwesome;
      padding-right: 6px;
    }
    a:hover {
        text-decoration: none;
    }
  }
}
.menu-item-has-children:hover {
  .sub-menu {
    display: block;
  }
}
article.type-post {
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-lighter;
}
.cover {
  position: relative;
  -moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  @media screen and (max-width: 1024px) {
        background-attachment: scroll;
  }
}
#landing {
	position: relative;
}
#baselanding {
  height: 300px;
  background-size: 120%;
  background-position: 50% 50%;
  #skipperlogo {
    width: 550px;
  }
}
.home #skipperlogo {
  margin: 100px 50px;
}
#skipperlogo {
  margin:70px 50px;
  z-index:1;
  width:720px;
  max-width:75%;
  position:absolute;
  box-sizing: border-box;
  img {
    max-width: 100%;
    height:auto;
  }
  //Making Sure that we also target the iPhone 6 Plus
  @media screen and (max-device-width: 736px) and (orientation: landscape) {
    max-width: 65%;
    margin-top: 40px;
  }
  @media screen and (max-device-width: 480px) and (orientation: portrait){
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    max-width: 90%;
  }
}
@media \0screen {
  #skipperlogo img {
  	width: auto; /* for ie 8 */
  }
}
#fpnext {
  position: absolute;
  right: 0;
  bottom: 0;
  @media screen and (max-width: 320px) {
    left: 100px;
    right: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .glyphicon {
    font-size: 36px;
    color: #fff;
    margin-left:40px;
    margin-bottom:10px;
    -webkit-animation: flickerAnimation 3s infinite;
    -moz-animation: flickerAnimation 3s infinite;
    -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
  }
  #see-more {
      border: 1px solid #fff;
      color: #fff;
      font-weight: normal;
      padding: 10px 25px;
      background: transparent;
      display: block;
      position: relative;
      -webkit-animation: fadeHeader 1 1s ease-in;
      animation: fadeHeader 1 1s ease-in;
      margin-bottom: 30px;
      margin-right: 35px;
      @media screen and (max-device-width: 480px) and (orientation: portrait){
        margin-right: 0;
      }
  }
  #see-more:hover {
      background: rgba(0, 0, 0, 0.1);
      border-color: #fff;
      color: #fff;
  }
}
.page, .blog, .single {
  .container:nth-child(1n) {
    padding-top: 30px;
  }
  .page-header {
    margin-top: 0;
  }
}
.social-feed-container {
  border-top: 2px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  height: 500px;
  overflow-y: scroll;
  padding: 20px 10px;
  @media screen and (max-width: 767px) and (orientation: landscape) {
    padding: 20px 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 20px 20px;
  }
  .social-feed-element .muted {
      padding-top: 4px;
      font-size: 12px;
  }
}
.nav-links {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  .nav-previous a::before {
    content: "\f060";
    font-family: FontAwesome;
    padding-right: 4px;
  }
  .nav-previous {
    float: left;
  }
  .nav-next {
    float: right;
  }
  .nav-next a::after {
    content: "\f061";
    font-family: FontAwesome;
    padding-left: 4px;
  }
}
.social-feed-element p.social-feed-text {
  overflow: visible;
}
#comments {
  footer {
    background-color: transparent;
  }
}
