button {
  padding: 8px 16px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: #fff;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
#btnClear {
  display: none;
}
#demo {
  margin-top: 10px;
  #numgroup {
    width: 100%;
    text-align: center;
    p {
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      padding-bottom: 4px;
      margin-bottom: 0;
    }
    .num {
      //float: left;
      display: inline-block;
      margin-right: 6px;
      margin-top: 6px;
      text-align: center;
      font-weight: bold;
      background-color: #fff;
      line-height: 36px;
      width: 36px;
      border-radius: 50%;
      color: $gray-base;
    }
    .pb {
      background-color: red;
      color: $gray-lighter;
    }
    .num:nth-of-type(6) {
      margin-right: 0;
    }
  }
}
.pb-buttons {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
#pb-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
  width: 100%;
  padding:20px;
  background-color: $gray-dark;
  color: $gray-lighter;
  border-radius: 25px;
  h3, h4 {
    color: $brand-primary;
  }
}
.title {
  float: left;
  display: block;
  width: 100px;
  font-weight: bold;
}
#results {
  span {
    margin-right: 5px;
    width: 20px;
    display: inline-block;
  }
}
span.pbNum {
  color: red;
}
#matches {
  margin-bottom: 10px;
}
.matchesnotification {
  margin-bottom: 10px;
}
