button {
  padding: 8px 16px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: #fff;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
#btnClear {
  display: none;
}
#demo {
  margin-top: 10px;
  #numgroup {
    width: 100%;
    text-align: center;
    p {
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      padding-bottom: 4px;
      margin-bottom: 0;
    }
    .num {
      //float: left;
      display: inline-block;
      margin-right: 6px;
      margin-top: 6px;
      text-align: center;
      font-weight: bold;
      background-color: #fff;
      line-height: 36px;
      width: 36px;
      border-radius: 50%;
      color: $gray-base;
    }
    .pb {
      background-color: red;
      color: $gray-lighter;
    }
    .num:nth-of-type(6) {
      margin-right: 0;
    }
  }
}
.pb-buttons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#pb-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
  width: 100%;
  padding:20px;
  background-color: $gray-dark;
  color: $gray-lighter;
  border-radius: 25px;
  h3, h4 {
    color: $brand-primary;
  }
}
.title {
  float: left;
  display: block;
  width: 100px;
  font-weight: bold;
}
#num-to-match {
  color: $gray-light2;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: .5px solid $gray-light;
  border-top: .5px solid $gray-light;
  line-height: 20px;
  text-align: center;
}
.numsm {
  //float: left;
  display: inline-block;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  font-weight: bold;
  background-color: $gray-light3;
  line-height: 20px;
  width: 20px;
  border-radius: 50%;
  color: $gray-base;
  font-size: 11px;
  input {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: none;
    background-color: transparent;
  }
}
.numsm:nth-of-type(6) {
  margin-right: 0;
}
.pbsm {
  background-color: red;
  color: $gray-lighter;
}
#share-results {
  margin-top: 15px;
}
#matches {
  margin-bottom: 10px;
}
.matchesnotification {
  margin-bottom: 10px;
}
#results {
  max-height: 400px;
  overflow: scroll;
  span {
    margin-right: 5px;
    width: 20px;
    display: inline-block;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 2px;
  }

}
